@use "../base/mixins"as *;
@use "../base/typography"as *;

.link-success {
    @include font(14);
    color     : rgba(40, 167, 69, 1);
    display   : inline-block;
    transition: .3s ease-in-out;

    @include hover() {
        color: rgb(32.11594, 134.08406, 55.4);
    }
}

.success-message {
    border-color: #28A745;
}

.error-message {
    @include font(12);
    color  : #FF0000 !important;
    display: none;
}

.error {
    display: block;
}