@use "sass:math";

@mixin round($size, $circle: false) {
    height: #{$size}px;
    width : #{$size}px;

    @if $circle {
        border-radius: 50%;
    }
}


@mixin hover {
    &:hover {
        @content
    }
}

.default-button {
    border: 1px solid black;

    @include hover {
        border-width: 2px;
    }
}