@use "grid"as *;
@use "flex"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.main {
    display   : flex;
    flex-wrap : wrap;
    min-height: 100vh;
    width     : 100%;

    &__column {
        padding: 1rem;

        &:nth-child(1) {
            @include flex(center, center);
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/images/home-bg.jpg") no-repeat center/cover;
            flex-basis: 40%;

            @include devices(m) {
                flex-basis: 100%;
                min-height: 50vh;
            }
        }

        &:nth-child(2) {
            @include flex(center, center);
            background: map-get($map: $theme-color, $key: "dark-gray");
            flex-basis: 60%;

            @include devices(m) {
                align-items: start;
                flex-basis : 100%;
                padding-top: 3rem;
            }
        }
    }

    &__title {

        h1 {
            @include font(36);
            @include text-color("pure-white");
            font-weight: 300;
            line-height: 42px;
            padding    : 0 60px;

            @include devices(t) {
                padding: 0;
            }

            @include devices(m) {
                padding: 0;
            }

            strong {
                font-weight: 500;
            }
        }
    }

    &__container {
        width: 100%;

        @include devices(m) {
            align-items: start;
        }
    }

    &__content {
        max-width: 600px;
        margin   : 0 auto;
        width    : 100%;

        p {
            @include font(14);
            @include text-color("light-gray");
            line-height  : 24px;
            margin-bottom: 1rem;
        }

        h2 {
            @include font(28);
            @include text-color("pure-white");
            font-weight  : 500;
            line-height  : 32px;
            margin-bottom: 24px;
        }

        &-buttons {
            @include flex(center, start);
            gap: 6px;
        }

        &-line {
            @include flex(center, start);
            gap   : 8px;
            margin: 24px 0;

            hr {
                border      : 0;
                border-top  : 1px solid transparent;
                border-color: rgba(108, 117, 125, 1);
                opacity     : .2;
            }

            .line1 {
                flex      : 0 0 auto;
                flex-basis: 8%;
            }

            .line2 {
                flex-grow: 1;
            }

            span {
                @include font(14);
                color         : rgba(255, 255, 255, 0.5);
                line-height   : 20px;
                text-transform: uppercase;
            }
        }
    }
}

.form {
    width: 100%;

    &__item {
        @include flex(start, center);
        flex-direction: column;
        margin-bottom : 1rem;

        label {
            @include text-color("pure-white");
            @include font(16);
            line-height  : 24px;
            margin-bottom: 4px;
        }

        input {
            &:not([type="checkbox"]) {
                @include font(16);
                appearance   : none;
                border       : 1px solid transparent;
                background   : transparent;
                background   : map-get($map: $theme-color, $key: "slate-gray");
                border-color : map-get($map: $theme-color, $key: "slate-gray");
                border-radius: 6px;
                box-shadow   : #fff 0px 0px 0px 0px;
                caret-color  : map-get($map: $theme-color, $key: "pure-white");
                color        : map-get($map: $theme-color, $key: "pure-white");
                line-height  : 1.5;
                outline      : none;
                padding      : 12px 16px;
                transition   : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                width        : 100%;

                &:focus {
                    border-color: #80bdff;
                }
            }
        }

        .btn-success {
            @include font(16);
            box-shadow : #00000026 0px 5px 15px 0px;
            font-weight: 500;
            padding    : 12px 34px;
        }
    }

    &__buttons {
        @include flex(center, start);
        flex-direction: row;
        gap           : 10px;
    }
}

.form__item.checkbox {
    align-items    : center;
    flex-direction : row;
    gap            : 8px;
    justify-content: start;

    input {
        border        : 1px solid map-get($map: $theme-color, $key: "cloudy-mist");
        border-radius : 0.25em;
        height        : 14px;
        margin-top    : -3px;
        vertical-align: top;
        width         : 14px;
    }

    label {
        @include font(14);
    }
}