@use "../global/responsive"as *;
@use "../layouts/flex"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;

.mastheader {
    @include flex(center, center);
    position: relative;
    z-index : 999;

    &::before {
        background: rgba($color: #000000, $alpha: 0.85);
        content   : "";
        height    : 100%;
        inset     : 0;
        position  : absolute;
        width     : 100%;

        @include devices-large-screens() {
            transform       : skewX(-9deg);
            transform-origin: top right;
        }
    }

    @include devices-large-screens() {
        height: 100vh;
        width : 75vw;
    }

    @include devices(t) {
        height: 80vh;
    }

    &__content {
        @include text-color("pure-white");
        max-width: 40rem;
        padding  : 5rem 1.5rem;
        position : relative;

        @include devices-large-screens() {
            padding: 0 9rem 0 2rem;
        }

        h1 {
            @include font(30);
            font-style   : italic;
            margin-bottom: 1.5rem;

            @include devices-large-screens() {
                @include font-titles(50);
            }

            @include devices(t) {
                @include font-titles(40);
            }
        }

        p {
            @include font(14);

            @include devices-large-screens() {
                @include font(16);
            }

            @include devices(t) {
                @include font(16);
            }
        }
    }
}